[mariadb]
plugin_maturity=experimental
plugin_load_add=ha_eloq
thread_handling=pool-of-threads
thread_pool_size=1
thread_pool_oversubscribe=10
thread_pool_dedicated_listener=1
eloq
eloq_core_num=1
eloq_local_ip=127.0.0.1:8000
eloq_ip_list=127.0.0.1:8000,127.0.0.1:8010,127.0.0.1:8020
eloq_keyspace_name=mono_test

eloq_kv_storage=eloqds

eloq_dynamodb_endpoint=http://127.0.0.1:8000
eloq_bigtable_project_id=XXXXXXXX
eloq_bigtable_instance_id=XXXXXXXX

eloq_aws_access_key_id=XXXXXXXXXX
eloq_aws_secret_key=XXXXXXXXXXXXXXXXXXXXX
eloq_txlog_rocksdb_cloud_endpoint_url=http://127.0.0.1:9900
eloq_txlog_rocksdb_cloud_bucket_name = eloqsql-mtr-test
eloq_txlog_rocksdb_cloud_bucket_prefix = txlog-
eloq_txlog_rocksdb_cloud_region = ap-northeast-1
eloq_dss_rocksdb_cloud_endpoint_url=http://127.0.0.1:9900
eloq_dss_rocksdb_cloud_bucket_name = eloqsql-mtr-test
eloq_dss_rocksdb_cloud_bucket_prefix = dss-
eloq_dss_rocksdb_cloud_region = ap-northeast-1
eloq_dss_config_file_path =
eloq_dss_peer_node = #localhost:9100
