[local]
core_number=1
enable_mvcc=false
txlog_rocksdb_scan_threads=3
hm_bin_path=../../bld/data_substrate/host_manager
tx_ip=127.0.0.1
tx_port=8000
txlog_rocksdb_cloud_region=ap-northeast-1
txlog_rocksdb_cloud_object_store_service_url=http://127.0.0.1:9900/txlog-eloqsql-mtr-test/txlog

[cluster]
tx_ip_port_list=127.0.0.1:8000,127.0.0.1:8010,127.0.0.1:8020

[store]
aws_access_key_id=minioadmin
aws_secret_key=minioadmin

eloq_dss_config_file_path=
eloq_dss_peer_node=localhost:9100

