
# Use default setting for mysqld processes
!include include/default_mysqld.cnf
!include include/default_client.cnf

!include include/eloq_kv_keyspace.cnf


[mysqld]
performance_schema=OFF
default_storage_engine=eloq
plugin-maturity=experimental
skip-log-bin
thread_handling=pool-of-threads
thread_pool_size=2
thread_pool_dedicated_listener=1
table_open_cache_instances=20

eloq_cc_protocol=OCC
use_stat_tables=complementary

[mysqld.1]
eloq_config=@ENV.MYSQLTEST_VARDIR/../../../storage/eloq/mysql-test/mono_multi/data_substrate1.cnf

[mysqld.2]
eloq_config=@ENV.MYSQLTEST_VARDIR/../../../storage/eloq/mysql-test/mono_multi/data_substrate2.cnf

[mysqld.3]
eloq_config=@ENV.MYSQLTEST_VARDIR/../../../storage/eloq/mysql-test/mono_multi/data_substrate3.cnf

[ENV]
MONO_PORT_1=              @mysqld.1.port
MONO_SOCK_1=              @mysqld.1.socket

MONO_PORT_2=              @mysqld.2.port
MONO_SOCK_2=              @mysqld.2.socket

MONO_PORT_3=              @mysqld.3.port
MONO_SOCK_3=              @mysqld.3.socket
