[mysqld]
eloq_aws_access_key_id=XXXXXXXXXXXXXXX
eloq_aws_secret_key=XXXXXXXXXXXXXXXXXXXXXXXXX
eloq_txlog_rocksdb_cloud_endpoint_url=http://127.0.0.1:9900
eloq_txlog_rocksdb_cloud_bucket_name = eloqsql-mtr-test
eloq_txlog_rocksdb_cloud_bucket_prefix = txlog-
eloq_txlog_rocksdb_cloud_region = ap-northeast-1
eloq_dss_rocksdb_cloud_endpoint_url=http://127.0.0.1:9900
eloq_dss_rocksdb_cloud_bucket_name = eloqsql-mtr-test
eloq_dss_rocksdb_cloud_bucket_prefix = dss-
eloq_dss_rocksdb_cloud_region = ap-northeast-1
eloq_dss_config_file_path =
eloq_dss_peer_node =
eloq_dss_rocksdb_cloud_sst_file_cache_size = 20GB
