
# Use default setting for mysqld processes
!include include/default_mysqld.cnf
!include include/default_client.cnf

!include include/eloq_kv_keyspace.cnf


[mysqld]
skip-log-bin
eloq_cc_protocol=OCC
eloq_config = @ENV.MYSQLTEST_VARDIR/../../../storage/eloq/mysql-test/mono_basic/t/mvcc_ds.cnf

[mysqld.1]

[ENV]
MONO1_PORT=              @mysqld.1.port
MONO1_SOCK=              @mysqld.1.socket
