# Use default setting for mysqld processes
!include include/default_mysqld.cnf
!include include/default_client.cnf

!include include/eloq_kv_keyspace.cnf


[mysqld]
default-storage-engine=eloq
thread_handling=pool-of-threads
thread_pool_size=1
thread_pool_oversubscribe=10
thread_pool_dedicated_listener=1
table_open_cache_instances=20
skip-log-bin
eloq_cc_protocol=OCC
use_stat_tables=complementary
eloq_config = @ENV.MYSQLTEST_VARDIR/../../../storage/eloq/mysql-test/mono_basic/data_substrate.cnf

[mysqld.1]

[ENV]
MONO1_PORT=              @mysqld.1.port
MONO1_SOCK=              @mysqld.1.socket
