!include include/default_my.cnf
!include include/eloq_kv_storage.cnf
!include include/eloq_kv_keyspace.cnf
!include include/eloq_kv_dss.cnf

[mysqld]
plugin-maturity=experimental
plugin_load_add=ha_eloq
eloq
skip-log-bin
eloq_core_num=1
default-storage-engine=eloq
default-tmp-storage-engine=eloq
collation-server=latin1_bin
eloq_checkpointer_interval_sec=86400
eloq_ddl_skip_kv=on
eloq_hm_bin_path = @ENV.MYSQLTEST_VARDIR/../../storage/eloq/host_manager

[mysqld.1]
loose-thread-handling=   pool-of-threads
loose-thread_pool_size= 2 
loose-thread_pool_max_threads= 2 
extra-port=        @ENV.MASTER_EXTRA_PORT
extra-max-connections=1
eloq_local_ip=127.0.0.1:8000
eloq_ip_list=127.0.0.1:8000

[ENV]
MASTER_EXTRA_PORT= @OPT.port
MONO1_PORT=              @mysqld.1.port
MONO1_SOCK=              @mysqld.1.socket
